# Node modules (racine + sous-dossiers)
**/node_modules/

# Fichiers d'environnement
.env
.env.*  # .env.local, .env.production, etc.
**/.env*  # Pour les fichiers .env partout dans l’arborescence

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.next/
build/
coverage/
tmp/
temp/

# TypeScript
*.tsbuildinfo

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Tests & coverage
coverage/
*.lcov

# Output de production
*.tgz

# PM2 process logs
pids
*.pid
*.seed
*.pid.lock
