
.class-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.class-list-item {
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  display: flex;
  border: 1px solid #222533;
  border-radius: 5px;
}
.class-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  border: 1px solid #222533;
  border-radius: 5px;
}
.rest {
  width: 100px;
}

.class-list-item > button {
  color: #fff;
  cursor: pointer;
  background-color: #5a53ff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  width: auto;
}