@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --base-clr: #11121a;


  --width-icon : 40px;
  --height-icon : 40px;
  --base-icon-clr: #ffffff;

  --bck-icon-light: #f3f4f6;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
  grid-template-rows: 10vh minmax(0, 1fr);
  width: 100%;
  height: 100%;
  display: grid;
}

.content {
  height: 100vh;
  width: 100%;
  grid-template-columns: 200px minmax(0, 1fr) 200px;
  display: grid;
}
.content > nav.navigation-left-panel {
  border-right: 1px solid var(--bck-icon-light);
}
.content > .right-panel-content {
  border-left: 1px solid var(--bck-icon-light);
}


header {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 200px;
  border-bottom: 1px solid var(--bck-icon-light);
}
header > .layer {
  background-color: var(--bck-icon-light);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header > .layer > .expand-btn-light.open-left{
  transform: translateX(20px);
}
header > .layer > .expand-btn-light.close-left{
  transform: translateX(20px);
}

header > nav.header-right-navbar {
  background-color: var(--bck-icon-light);
  display: flex;
  align-items: center;
}
header > nav.header-right-navbar > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > nav.header-right-navbar > ul > div:not(:first-child) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header > nav.header-right-navbar > ul > .expand-btn-light.open-right{
  transform: translateX(-21px);
}
header > nav.header-right-navbar > ul > .expand-btn-light.close-right{
  transform: translateX(-21px);
}



/* Expand button style*/
.expand-btn-light.close-left {
  height: var(--height-icon);
  width: var(--width-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--base-icon-clr);
  border: 1px solid var(--bck-icon-light);
}
.expand-btn-light.open-left {
  height: var(--height-icon);
  width: var(--width-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--base-icon-clr);
  border: 1px solid var(--bck-icon-light);
}
.expand-btn-light.open-right {
  height: var(--height-icon);
  width: var(--width-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--base-icon-clr);
  border: 1px solid var(--bck-icon-light);
}
.expand-btn-light.close-right {
  height: var(--height-icon);
  width: var(--width-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--base-icon-clr);
  border: 1px solid var(--bck-icon-light);
}



/* add effect open / close */
header.header.left-navbar-close.right-header-open {
  display: grid;
  grid-template-columns: 80px minmax(0, 1fr) 200px;
}
header.header.left-navbar-open.right-header-close {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 40px;
}



.content.left-panel-close.right-panel-close {
  display: grid;
  grid-template-columns: 80px minmax(0, 1fr) 0px;
}
.content.left-panel-open.right-panel-open {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 200px;
}
.content.left-panel-open.right-panel-close {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 0px;
}