.modal-box {
  background-color: #11121a;;
    position: absolute;
    top: 219px;
    right: 11px;
    box-shadow: 0 4px 8px #000000;
    width: 300px;
    height: 600px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 10% minmax(0, 1fr) 10%;
}

.modal-header {
  background-color: #22253387;
  border-bottom: 1px solid #222533;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h3 {
  margin: 0;
  font-size: 1.5rem;
  margin-left: 10px;
  color: #5f6368;
}
.icon-close {
  margin-right: 10px;
  cursor: pointer;
}

.modal-body {
  border-bottom: 1px solid #222533;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.modal-body div {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  color: #5f6368;
}

.modal-body select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #11121a;
  border: 1px solid #222533;
  color: #5f6368;
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.modal-footer button {
  padding: 8px 15px;
  cursor: pointer;
}

.modal-footer button:first-child {
  background-color: none;
  color: #fff;
  background-color: #11121a;
  border: 1px solid #222533;
  color: #5f6368;
}

.modal-footer button:last-child {
  background-color: none;
  color: white;
}

button {
  cursor: pointer;
  width: 12ch;
}
