# Variables d'environnement API
.env
.env.local
.env.development
.env.production
.env.test

# Logs API
logs/
*.log

# Node modules
node_modules/

# Build
dist/
build/

# Cache
.cache/

# Tests
coverage/

/src/generated/prisma

/src/generated/prisma

# Uploads - ignore all files but keep directory structure
public/uploads/*
!public/uploads/.gitkeep
